@charset "ISO-8859-1";
body {
	background-color: purple;
	text-align: center;
	color: white;
	font-family: Helvetica;
}

h1 {
	color: gold;
	text-align: center;
	font-family: Verdana;
}

.left {
	text-align: left;
	color: gold;
	font-family: helvetica;
	font-size: 1em;
}

.right {
	text-align: right;
	color: gold;
	font-family: helvetica;
	font-size: 1em;
}

a:link {
	color: gold;
}

a:visited {
	color: gold;
}

.leftcolumn {
	width: 25%;
	float: left;
	padding: 1em;
}

.rightcolumn {
	width: 20%;
	float: right;
	padding: 1em;
}